
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

.produtos-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.produto {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    width: 250px;
}

.produto img {
    max-width: 100%;
}

.produto .btn {
    display: block;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
